@font-face {
    font-family: redhat;
    font-weight: bold;
    src: url("../assets/fonts/redhattext.ttf");
  }
@font-face {
    font-family: montserrat;
    font-weight: bold;
    src: url("../assets/fonts/montserrat.ttf");
}

.heroContainer {
    position: relative;
    height: 859px;
    width: 100%;
    display: flex;
    justify-content: top;
    padding-top: 200px;
    align-items: center;
    object-fit: contain;
    flex-direction: column;
  }

.heroContainer::before{
    content: "";
    background: url("../assets/image/bg.jpg") center center/cover no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    filter: brightness(35%);
}

h1 {
    position: relative;
    color: #ffffff;
    font-size: 48px;
    line-height: 0.9;
    text-align: center;
    font-family: montserrat;

  }

.logo {
    position: relative;
}

mark.orange{
    color: #e87123;
    background: none;
}