:root {
  --orange: #e87123;
}

@font-face {
    font-family: redhat;
    font-weight: bolder;
    src: url("../assets/fonts/redhattext.ttf");
  }
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .navbar-container {
    color: black;
    display: flex;
    justify-content: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    border-bottom: 1px solid black;
    
  }
  .navbarLogo{
    display: flex;
  }

  .site-title {
    font-size: 24px;
  }
  
  .nav ul {
    padding-left: 100px;
    display: flex;
    list-style: none;
    gap: 5rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    font-family: redhat;

  }
  
  .nav li:hover {
    color: var(--orange);
  }