:root {
  --orange: #e87123;
}

* {
  box-sizing: border-box;
}

.profile-container{
    height: 775px;
    width: 1200px;
    margin: auto;
    top: 12%;
    left: 20%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.page-title{
    color: inherit;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-family: 'montserrat';
}

.profile-avatar{
    margin-top: 50px;
    position: absolute;
    opacity: 50%;
}

.profile-options{
    font-family: 'redhat';
    display: flex;
    list-style: none;
    gap: 5rem;
}