@font-face {
    font-family: redhat;
    font-weight: bold;
    src: url("../assets/fonts/redhattext.ttf");
  }


.signupForm-container{
    position: relative;
    margin-top: 50px;
    font-family: 'redhat';
}